@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
}

body{
    background-color: var(--cor0);
    margin: 0px;
}
header {
    background-image: linear-gradient(to bottom, #3CD781, #1A5C38);
    padding: 10px;
    margin: 0px;
    
}
header>h1{
    text-align: center;
    font-size: 2.5em;
    padding: 0px;
}
header>p{
    text-align: center;
    font-size: 1.2em;
}

#principal{
    background-color: white;
    margin: 0px 80px;
}

#principal>h1{
    font-size: 1.8em;
    color: #33704F;
    margin: 10px;
}
#principal>h2{
    color: #33704F;
    background-image: linear-gradient(to right, #C6EBD6, white);;
    font-size: 1.5em;
    margin: 10px;
}


#secundario{
    background-color: #84E1AD;
    margin: 20px;
    border-radius: 10px;
}

#secundario>h2{
    color: white;
    font-size: 1em;
    background-color: #2FA866;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

#secundario>li{
    text-align: left;
}
a{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

strong{
    color: darkgreen;
}